@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');
#clm {
    background: rgb(144, 250, 245);
    padding: 10px;
    cursor: pointer;
    border-radius: 12px;
    padding: 10px;
    margin-top: 10px;
    border: 2.5px solid rgb(144, 250, 245);
    transition-property: all;
    transition: 235ms ease;
}
#clm:hover,
#clm:active {
    background: rgb(122, 181, 204);
    color: white;
    border: 2.5px solid rgb(122, 181, 204);
}

* {
    text-align: center;
    text-decoration: none;
    color: black;
    font-family: 'Open Sans', sans-serif;
}
#reload {
    border: none;
    background: lightskyblue;
    padding: 8px;
    color: black;
    cursor: pointer;
    border-radius: 12px;
    margin-top: 10px;
    border: 2.5px solid lightskyblue;
    transition-property: all;
    transition: 235ms ease;
}
#reload:hover,
#reload:active {
    background: rgb(2, 67, 206);
    color: white;
    border: 2.5px solid rgb(2, 67, 206);
}

#bot:hover,
#bot:active {
    width: 300px;
    height: 300px;
    margin-bottom: -100px;
}
#gaming-card {
    border: none;
    background: rgb(65, 255, 36);
    padding: 9px;
    color: black;
    cursor: pointer;
    border-radius: 12px;
    margin-top: 10px;
    border: 2.5px solid rgb(65, 255, 36);
    transition-property: all;
    transition: 235ms ease;
}
#gaming-card:hover,
#gaming-card:active {
    background: rgb(53, 205, 30);
    color: white;
    border: 2.5px solid rgb(53, 205, 30);
}
#cardicon,
#gaming-card {
    display: inline-flex;
    align-items: center;
    font-size: 18px;
    
}
#cardicon {
    margin-left: 10px;
    cursor: pointer;
    transition-property: all;
    transition: 235ms ease;
}
#cardicon:hover,
#cardicon:active {
    color: white;
}
#new {
    color: red;
    margin-top: -2.45px;
    font-size: 22px;
}
  .modal {
    position: fixed;
    top: 51%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: white;
    width: 8000px;
    max-width: 80%;
    font-family: 'Open Sans', sans-serif;
  }
  
  .modal.active {
    transform: translate(-50%, -50%) scale(1);
  }
  
  .modal-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
  }
  
  .modal-header .gctit {
    font-size: 1.25rem;
    font-weight: bold;
  }
  
  .modal-header .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
  }
  
  .modal-body {
    padding: 10px 15px;
  }
  
  #overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
  }
  
  #overlay.active {
    opacity: 1;
    pointer-events: none;
  }
.lang a,
.lang {
    text-decoration: all;
}
