@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');
#clm {
    background: rgb(144, 250, 245);
    padding: 10px;
    cursor: pointer;
    border-radius: 12px;
    padding: 10px;
    margin-top: 10px;
    border: 2.5px solid rgb(144, 250, 245);
    transition-property: all;
    transition: 235ms ease;
}
#clm:hover,
#clm:active {
    background: rgb(122, 181, 204);
    color: white;
    border: 2.5px solid rgb(122, 181, 204);
}

* {
    text-align: center;
    text-decoration: none;
    color: black;
    font-family: 'Open Sans', sans-serif;
    cursor: default;
}
*:active {
    cursor: not-allowed;
}
#reload {
    border: none;
    background: lightskyblue;
    padding: 8px;
    color: black;
    cursor: pointer;
    border-radius: 12px;
    margin-top: 10px;
    border: 2.5px solid lightskyblue;
    transition-property: all;
    transition: 235ms ease;
}
#reload:hover,
#reload:active {
    background: rgb(2, 67, 206);
    color: white;
    border: 2.5px solid rgb(2, 67, 206);
}

#bot:hover,
#bot:active {
    width: 300px;
    height: 300px;
    margin-bottom: -100px;
}
